*.wav
*.exe
*.elf
*.hex
*.bin
*.map
*.list
*.txt
*.log
*.tmp
*.bak
*.swp
*~
.DS_Store
.vscode/
.idea/
*.launch
*.project
*.cproject
*.mxproject
/Debug/
/Release/
/test2/Debug/
/test2/Release/
/test2/Drivers/
/test2/Middlewares/
/test2/USB_DEVICE/App/
/test2/USB_DEVICE/Target/
/test2/.mxproject